{% extends "layouts/main_layout.html" %}

{% block title %}
    Laba 5 - Изменить транспортное средство
{% endblock %}

{% block content %}
<div class='container d-flex justify-content-center'>
            
    <form method="POST" class='w-50'>
        {% csrf_token %}
        {% include "layouts/messages.html" %}
        <div class='p-4 display-4 text-center'>Изменить транспортное средство</div>
        
        <div class="md-form">
            {{form.name}}
            <label for="id_name">{{form.name.label}}</label>
        </div>

        <div class="md-form">
            {{form.capacity}}
            <label for="id_capacity">{{form.capacity.label}}</label>
        </div>

        <div class="md-form">
            {{form.type_vehicle}}
        </div>

        <div class="md-form">
            {{form.route}}
        </div>

        <button type="submit" class='btn btn btn-mdb-color w-100' >Сохранить</button>
    </form>
</div>


{% endblock %}