{% extends "layouts/main_layout.html" %}

{% block title %}
    Laba 5 - Список станций
{% endblock %}

{% block content %}

<div class='container d-flex justify-content-center flex-column'>
    {% include "layouts/messages.html" %}
    <div class='p-4 display-4 text-center'>
        Список станций <a class="btn btn-rounded btn-blue-grey" href='{{ fullurl }}/stations/add/'>Добавить </a>
    </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Имя</th>
            <th scope="col">Позиция</th>
            <th scope="col">Маршрут</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for station in stations %}
        <tr>
            <th scope="row"><h4>{{station.name}}</h4></th>
            <td><h4>{{ station.position }}</h4></td>
            <td>
                <h4>
                {% if station.route.code == 'null' %}
                    -
                {% else %}
                     {{ station.route }}
                {% endif %}
                </h4>
            </td>
            <td>
                <a href='{{ fullurl }}/stations/edit/{{ station.id }}/' >
                    <button class='btn btn btn-dark-green btn-sm w-100'>Изменить</button>
                </a>
            </td>
            <td>
                <form method='POST' action="{{ fullurl }}/stations/del/{{ station.id }}/">
                    {% csrf_token %}
                    <button type="submit" class='btn btn btn-danger btn-sm w-100' >Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}