{% extends "layouts/main_layout.html" %}

{% block title %}
    Laba 5 - Главная
{% endblock %}

{% block content %}
{% include "layouts/messages.html" %}
<div class="jumbotron">
<div class='display-4'>Добро пожаловать в Городскую транспортную сеть</div>
    <p class="lead mt-2">
    Крупнейшая транспортная компания «Городская транспортная сеть»,
    управляет услугами трамвайных и автобусных перевозок.                 
    </p>
    <p class="lead">
    Маршрутная сеть является частью региональной ассоциации общественного
    транспорта и была сформирована путем слияния в январе 1947 года.                 
    </p>
    <p class="lead">
    13 трамвайных линий обслуживают транспортную зону около 152 километров,
    дополненную более чем 30 автобусными линиями, которые находятся на маршруте в пригородной зоне.
    </p>
</div>
{% endblock %}