{% extends "layouts/main_layout.html" %}

{% block title %}
    Laba 5 - SignIn
{% endblock %}

{% block content %}
    <div class='container d-flex justify-content-center'>
            
            <form method="POST" class='w-50'>
                {% csrf_token %}
                {% include "layouts/messages.html" %}
                <div class='p-4 display-4 text-center'>SignIn</div>
                
                <div class="md-form">
                    {{form.username}}
                    <label for="id_code">{{form.username.label}}</label>
                </div>

                <div class="md-form">
                    {{form.password}}
                    <label for="id_code">{{form.password.label}}</label>
                </div>

                <button type="submit" class='btn blue-gradient w-100' >Войти</button>
            </form>
    </div>

{% endblock %}